.claro{
    background-color: white;
    border-bottom: black solid 2px;
    border-top: black solid 2px;
    padding: 4px;
    margin-top: -2px;
    display: flex;
   
    align-items: center;
}

.oscuro{
    background-color: rgba(189, 188, 188, 0.986);
    border-bottom: black solid 2px;
    border-top: black solid 2px;
    padding: 4px;
    margin-top: -2px;
    display: flex;
    
    align-items: center;
}

.negrita{
    font-weight: bold;
}

.rojo{
    color: red;
}

.fieldset {
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: none;
    width: fit-content;
  }

  .column{
    flex: 50%;
    width: 250px;
  }

  label {
    width: 200px;
    line-height: 26px;
    margin-bottom: 10px;
  }
  
  input {
    margin-left: 10px;
  }

  select{
    margin-left: 10px;
  }

  legend {
    color: rgb(0, 0, 0);
    padding: 5px 10px;
    font-weight: bold;
    font-size: xx-large;
  }