.html{
    font-size: 10px;
} 

.container{
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-rows: min-content min-content 5%;
}

#r1{
    background-color: white;
    display: flex;
    border-top: solid 0.2rem steelblue;
    padding-top: 0.2rem;
    justify-content: space-evenly;
    align-items: center;
}
#r1 input{
    border:none;
    background-color: inherit;
    color: gray;
    height: min-content;
}

#r1 input:nth-child(8){
    border:none;
    border-radius: 0.25rem;
    padding:0.25rem;
    background-color: green;
    height: min-content;
    font-weight: bold;
    color: white;
}

#r1 img{
    width: 15%;
    object-fit: scale-down;
}

#r2{
    background-color: cornflowerblue;
    display: flex;
}


#r2 img{
    width: 50%;
    object-fit: scale-down;

}

#r2 p:nth-child(1){
    color: white;
    font-size: 2rem;
    font-weight: bold;
    margin: 0.25rem;
}

#r2 p:nth-child(2){
    color: white;
    font-size: 1rem;
    margin: 0.25rem;
}

#r2 div div {
    display: flex;
    justify-content:center;
    
}

#r2 div input:nth-child(1){
    border:none;
    border-radius: 0.25rem;
    padding:0.5rem;
    background-color: green;
    height: min-content;
    font-weight: bold;
    color: white;
    margin: 1rem;
}

#r2 div input:nth-child(2){
    border-radius: 0.25rem;
    border: 0.1rem solid white;
    padding:0.5rem;
    background-color: inherit;
    height: min-content;
    font-weight: bold;
    color: white;
    margin: 1rem;
}


#r3{
    background-color: silver;
}
