*{
    box-sizing: border-box;
}

html{
    font-size:10px;
}

#background1{
    background-image: url(christmas.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}
#background1 img{
    margin:5%;
    width: 20rem;
}
#background1 div{
    align-self: center;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
}

#background1 div p:first-child{
    color:white;
    font-size:4rem;
    margin-bottom: 0.5rem;
    text-align: center;
    
}
#background1 div p:nth-child(2){
    color:white;
    font-size:2rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    align-items: center;
    line-height: 3rem;
}

#background1 input{
    border:none;
    background-color: white;
    color:black;
    width:15rem;
    height:4rem;
    margin-top: 2rem;
    margin-right: 1rem;
    

}
#background2{
    background-color: white;
    display: flex;
    justify-content: space-evenly;
}

.columna{
    width:20%;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.columna img{
    width:50%;
    margin-top: 2rem;
}
.columna i{
    margin-top: 2rem;
    font-size:10rem;
    color:cornflowerblue
}
.columna p:nth-child(2){
    font-family: Arial, Helvetica, sans-serif;
    color:gray;
    font-size:4rem;
    margin-bottom: 0.5rem;
    text-align: center;
}

.columna p:nth-child(3){
    margin-top: 0.5rem;
    color:gray;
    text-align: left;
} 
