.wrapper{
    display:grid;
    grid-template-rows: repeat(7,fit-content(300px));
    grid-auto-columns:min-content;
}


.aboveLabel label{
    font-weight: bold;
}

.aboveLabel input{
    display: block;
}

.aboveLabel{
    margin-right: 10px;
    margin-left: 10px;
}

#one{
    grid-column: 1 / 4;
    grid-row: 1;
    display: flex;
}

#second{
    grid-column:1 / 2 ;
    grid-row: 2;
    display: flex;
    background-color: rgb(241, 237, 237);
    border-top: 1px solid rgb(133, 133, 133);
    padding-bottom: 10px;
    padding-top: 5px;
    
}

#third{
    grid-column:1 / 2 ;
    grid-row: 3;
    display: flex;
    background-color: rgb(192, 191, 191);
    border-top: 1px solid rgb(133, 133, 133);
    padding-bottom: 10px;
    padding-top: 5px;
}

#forth{
    
    display: flex;
    border-top: 1px solid rgb(133, 133, 133);
    background-color: rgb(241, 237, 237);
    padding-bottom: 10px;
    padding-top: 5px;
}

#CR{
   margin-left: 71px;

}

#labelEL{
    display:inline-block;
    width:100px;
    margin-bottom:10px;
    position: relative;
    top:11px;
}

#labelPre{
    display:inline-block;
    width:100px;
    margin-bottom:10px; 
}

#f_flex{
    grid-column:1 / 2 ;
    grid-row: 4;
    display: flex;
    flex-direction: column;
    background-color: rgb(241, 237, 237);
}

#HTHO{
    margin-left:220px;
    padding-bottom: 10px;
}

#v_flex{
    grid-column:1 / 2 ;
    grid-row: 5;
    display: flex;
    flex-direction: column;
    background-color: rgb(192, 191, 191);
}

#fith{
    display: flex;
    border-top: 1px solid rgb(133, 133, 133);
    padding-bottom: 10px;
    padding-top: 5px;
}

#RAT{
    margin-left:70px;
}

#ReqP{
    margin-left:220px;
    padding-bottom: 10px;
    
    padding-bottom: 10px;
}

#RecPre{
    margin-left:220px;
    padding-bottom: 10px;
    
    padding-bottom: 10px;
}

#columna_uno{
    background-color: rgb(241, 237, 237);
    grid-column: 2 ;
    grid-row: 2 / 6;

    border-top: 1px solid rgb(133, 133, 133);
    border-bottom: 1px solid rgb(133, 133, 133);
    border-left: 1px solid rgb(133, 133, 133);

    display: flex;
    flex-direction: column;
}

#columna_dos{
    background-color: rgb(241, 237, 237);
    grid-column: 3 ;
    grid-row: 2 / 6;

    border-top: 1px solid rgb(133, 133, 133);
    border-bottom: 1px solid rgb(133, 133, 133);
    border-left: 1px solid rgb(133, 133, 133);

    display: flex;
    flex-direction: column;
}

#c2_foreign{
    display:inline-block;
    width:200px;
    position: relative;
    top:15px;

}

#c1_include{
    display:inline-block;
    width:150px;
    position: relative;
    top:15px;
}
#semester{
    margin-right: 10px;
    margin-left: 10px;
}

#semester label{
font-weight: bold;
}

#semester select{
display: block;
}

#last{
    grid-column: 1 / 4;
    grid-row: 7;
    display: flex;
}

#last_first{
    flex-direction: column;
}

#last_second{
    flex-direction: column;
    margin-right:10px;

}

.last_1{
    background-color: rgb(241, 237, 237);
    border-bottom:solid 1px rgb(133, 133, 133);
}

.last_1 input{
    width: 220px;
    margin: 5px;
}

.last_2{
    background-color: rgb(192, 191, 191);
    border-bottom:solid 1px rgb(133, 133, 133);
}

.last_2 input{
    width: 220px;
    margin: 5px;
}

.last_3{
    background-color: rgb(241, 237, 237);
    border-bottom:solid 1px rgb(133, 133, 133);
}

.last_3 input{
    width: 450px;
    margin: 5px;
}

.last_4{
    background-color: rgb(192, 191, 191);
    border-bottom:solid 1px rgb(133, 133, 133);
}

.last_4 input{
    width: 450px;
    margin: 5px;
}


