
#wrapper{
    display: grid;
    grid-template-rows: repeat(3,fitcontent());
    grid-auto-columns:min-content;
    width:fit-content;
    border: 1px solid blue;
}

#columna1{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    grid-row: 2;
    grid-column: 1 / 2;
}

#columna2{
    grid-row: 2;
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-right: 30px;
}

#first_row{
    grid-row: 1;
    grid-column: 1 / 3;
    display: flex;
    margin-bottom: 20px;
    background-color: aqua;
}


#first_row span{
    font-weight: bold;
    font-size:large;
    margin-right: 30px;
    margin:10px;
}

#more_actions{
    border:none;
    background-color:aqua;
}

#last_row{
    grid-row: 3;
    grid-column: 1 / 3;
    display: flex;
    justify-content: center;
}

.conjunto{
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
}

.conjunto label {
    font-weight: bold;
    width:180px;
}

.conjunto input{
    width:300px;
}

.conjunto select{
    width:300px;
}

#event_description,#location{
    height:150px;
}



.multiple_conjunto{
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
}

.multiple_conjunto span{
    font-weight: bold;
    width:180px;
}

.multiple_conjunto div{
    display:flex;
    flex-direction: column;
}

.multiple_conjunto div div{
    display:flex;
    flex-direction: row;
    position: relative;
    top: 5px;
}

.radio_checkbox{
    margin-right:10px;
}

#cost_per_person{
    width:90px;
    height:20px;
}

#help_cost_per_person{
    color: silver;
    margin-left: 10px;
    opacity: 0.5;
    position: relative;
    top:5px;
}

#itinerary_label{
    width: 100px;
    margin-right: 80px;
}

#submit_button,#reset_button{
    background-color:cyan;
    color: white;
    font-weight: bold;
    margin:5px;
}