.wrapper{
    display:grid;
    grid-template-rows: repeat(6,1fr);
    grid-auto-columns:min-content;
}


.aboveLabel label{
    font-weight: bold;
}

.aboveLabel input{
    display: block;
}

.aboveLabel{
    margin-right: 10px;
    margin-left: 10px;
}

.one{
    grid-column: 1 / 4;
    grid-row: 1;
    display: flex;
}

.second{
    grid-column:1 / 2 ;
    grid-row: 2;
    display: flex;
    background-color: rgb(192, 191, 191);
    border-top: 1px solid rgb(133, 133, 133);
}

#labelEL{
    display:inline-block;
    width:100px;
    margin-bottom:10px;
    position: relative;
    top:11px;
}

