.row {
    display: flex;
  }
  
.column {
    flex: 50%;
  }

.negrita{
    font-weight: bold;
  }

.tabla_ejercicio2{
    border: 3px solid red;
    background-color: rgb(240, 245, 170);
    border-spacing: 5px;
  }

.tabla_ejercicio2 th {
  border: 1px solid red;
  font-weight: normal;
}

.tabla_ejercicio2 td {
  border: 1px solid red;
  font-weight: normal;
}

.tabla_ejercicio3{
  border:none;
  border-spacing:0;
  border-collapse: collapse;
}
.tabla_ejercicio3 td{
  border:solid black 3px;
  width:60px;
  vertical-align: text-top;
  font-weight: bold;
  
}
.tabla_ejercicio3 tr{
  height:30px;
}

.tabla_ejercicio4{
  border-collapse: collapse;
}

.tabla_ejercicio4 th {
  border: 1px solid grey;
  padding: 20px;
  width: 40px;
}

.tabla_ejercicio4 td {
  border: 1px solid grey;
  padding:10px;
  text-align: center;
}

.tabla_ejercicio5{
  border: 1px solid black;
  border-collapse: separate;
  border-spacing: 1px;
}
.tabla_ejercicio5 td,th{
  border: 1px solid black;
  border-collapse: separate;
  border-spacing: 1px;
}

.PRO{
  background-color: #e97777;
}

.SIS{
  background-color: #43a4f3;
}

.LM{
  background-color: #9e9ef5;
}

.ED{
  background-color: #e690e9;
}

.FOL{
  background-color: rgb(40, 143, 27);
}

.BD{
  background-color: rgb(226, 174, 115);
}