*{
    box-sizing: border-box;
}

html{
    font-size:10px;
}

#background1{
    background-color: rgba(76,192,237,255);
    display: flex;
}
#background1 img{
    margin-top: 10%;
    margin-left: 10%;
}
#background1 div{
    align-self: center;
    margin-left: 10%;
}

#background1 div p:first-child{
    color:white;
    font-size:2rem;
    margin-bottom: 0.5rem;
}
#background1 div p:nth-child(2){
    color:white;
    font-size:3rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

#background1 div input{
    border:none;
    background-color: rgba(0,153,205,255);
    color:white;
    width:20rem;
    height:4rem;
    margin-top: 0.5rem;
}
#background2{
    background-color: white;
    display: flex;
    justify-content: center;
}

.columna{
    width:20%;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.columna img{
    width:50%;
}
.columna i{
    margin-top: 2rem;
    font-size:10rem;
    color:cornflowerblue
}
.columna p:nth-child(2){
    font-weight: bold;
    color:black;
    margin-bottom: 0.5rem;
}

.columna p:nth-child(3){
    margin-top: 0.5rem;
    color:gray;
}