
.tabla{
  border: 1px solid black;
  border-collapse: separate;
  border-spacing: 1px;
}
.tabla td,th{
  border: 1px solid black;
  border-collapse: separate;
  border-spacing: 1px;
}

.PRO{
  background-color: #e97777;
}

.SIS{
  background-color: #43a4f3;
}

.LM{
  background-color: #9e9ef5;
}

.ED{
  background-color: #e690e9;
}

.FOL{
  background-color: rgb(40, 143, 27);
}

.BD{
  background-color: rgb(226, 174, 115);
}

.tabla td:first-child{
  background-color:green;
}

.tabla tr:nth-child(4) td:nth-child(2){
background-color: yellow;
}

.tabla tr td:nth-child(6):hover{
  font-size: 200%;
}

.tabla th::first-letter{
  font-size: 200%;
}

.tabla a:first-of-type{
  text-decoration: none;
  color:green;
}

.tabla a:first-of-type:visited{
  color: red;
}

label::after{
  content: "*";
  color:red;
}

input:first-of-type{
  border: 1px solid red;
  padding: 5px;
}

input{
  margin:10px;
}

