#cuerpo{
    display:grid;
    width:inherit;
    grid-template-areas: "header" 
                         "menu"
                         "principal"
                         "footer"
    
                                    ;
}

img{
    width:200px;
}

header{
    color:white;
    background-color:black;
    text-align:center;
}

header p{
    text-align:right;
    color:black;
    background-color:white;
    margin:0px;
}

#nav1{
    background-color:black;
    color:white;
}

#nav1 ul{
    list-style:none;
    display: grid;
    grid-auto-rows: 150%;
    grid-template-columns: repeat(6,min-content);
    gap:2%;
   
}

#container{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    place-content: space-between;
    gap:2%;
}

#container div{
    display:grid;
    grid-auto-rows: min-content;
    margin: 2%;
    
}

#container div h4{
    margin: 0;
    color:white;
    background-color:black;
    text-align: center;
}

#c2{
    place-items: center;
}

#c2 div{
    width:fit-content;
    grid-auto-columns: min-content;
    place-items:center;
    background-color:silver;
    padding:2%;
    
}

footer{
    display:grid;
    place-content:center;
    background-color:black;
    color:white;
}

footer p{
    margin:0; 
    width:fit-content;
}
#c1{
    gap:2%;
}

#c1 nav ul{
    list-style: none;
    display:grid;
    padding:0;
    margin:0;
}

#c1 nav ul li:nth-child(odd){
    background-color:silver;
    padding: 1%;
}

#c1 nav ul li:nth-child(even){
   background-color:white;
   padding: 1%
}
