.tabla-ejercicio1{
    border:black solid 1px;
    border-collapse: separate;
    border-spacing: 1px;
}

.tabla-ejercicio1 td,th{
    border:black solid 1px;
    border-collapse: separate;
}

.tabla-ejercicio3{
    border:none;
    border-spacing: 0px;
}

.tabla-ejercicio3 th{
    border:black solid 1px;
    border-collapse: collapse;
    width:50px;
    height: 50px;
    font-size: small;
}

.tabla-ejercicio3 td{
    border:black solid 1px;
    border-collapse: collapse;
    width:50px;
    height: 50px;
    font-size: x-small;
}
