#tabla1{
    border: 4px solid #2d17f5;
    width: 30%;
    height: fit-content;
 }
 #cabtab1{
    background-color: #ffffff;
    font-weight: bold;
    color: #000000;
    padding: 5px;
    margin: 5px;
 }

 fieldset{
     width: 90%;
 }

 legend{
     color: #2d17f5;
 }

.div_input{
    display: flex;
   
    align-items: center;
}

.div_input label {
    width: 120px;
    line-height: 26px;
    margin-bottom: 10px;
    font-weight: normal;
  }

.div_radio{
    display: flex;
   
    align-items: center;
}

.div_radio label {
    width: auto;
    margin-right: 0px;
    line-height: 26px;
    font-weight: normal;
  }

 .div_radio span{ 
    width: 80px;
    line-height: 26px;
    font-weight: normal;
    margin-right: 35px;
  }

  .div_submit_clear{
      margin-top: 20px;
      margin-left: 20px;
  }

  .div_submit_clear input{
      width: 150px;
      margin-right:30px;
  }