*{
    box-sizing: border-box;
}

html{
    font-size:10px;
}

body{
    display:flex;
}
#background{
    width: 100%;
    background-color: cornflowerblue;

}

#container{
    margin:4rem;

    display:grid;
    width: 90vw;
    grid-template-rows: 1fr 10fr auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;  
    row-gap: 2rem; 
    column-gap: 1rem;
}

#d1{
    grid-row: 1 / 2;
    grid-column: 1 / 5;
    display: flex;
    align-items: center;
    background-color: inherit;

    border-bottom: solid 0.1rem darkcyan;
    padding-bottom:1rem;
}

#d2_1{
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    justify-content: center;
    
}

#d2_2{
    grid-row: 2 / 3;
    grid-column: 3 / 5;
    justify-content: center;
}

#d2_1 p:nth-child(1){
    font-weight: bold;
    color:white;
    font-size:5rem;
    font-family: Arial, Helvetica, sans-serif;
}

#d2_1 p:nth-child(2){
    font-weight: bold;
    color:white;
    font-size:3rem;
    font-family: Arial, Helvetica, sans-serif;
    
}

#d3{
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    background-color: aliceblue;

}

#d4{
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    background-color: aliceblue;
}

#d5{
    grid-row: 3 / 4;
    grid-column: 3 / 4;
    background-color: aliceblue;
}

#d6{
    grid-row: 3 / 4;
    grid-column: 4 / 5;
    background-color: aliceblue;
}



.boton{
    background-color: inherit;
    border:none;
    margin-left: 5rem;
    font-size: 2rem;
    color:white;
}

#boton1{
    background-color:springgreen;
    border:solid 0.1rem white;
    padding: 1rem;
    height: 4rem;
    color:white;
    font-weight: bold;
    margin-left:auto;
    margin-right:1rem;
}

#boton2{
    background-color:inherit;
    border:solid 0.1rem white;
    padding: 1rem;
    height: 4rem;
    color:white;
    font-weight: bold;
}

#logo{
    margin-right: 40rem;
}


.imageText{
    display:flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

}

.imageText img{
    margin:0.5rem;
    width: 50%;
}

.imageText div{
    background-color:royalblue;
    color: white;
    width: 100%;
}

.imageText div p:first-child{
    font-size: 3rem;
    font-weight: bold;
    margin-left: 4rem;
}

.imageText div span{
    font-size: 2rem;
    margin-left: 4rem;
    margin-top: 2rem;
}

.imageText div div{
    margin-top: 1rem;
    margin-bottom: 2rem;
}

i{
    margin-right: 1rem;
}